@import '_setting.scss';

$bg-menu: rgb(1, 54, 65);

.sidebar-settings {
    margin-top: $navbar-height;
    padding-top: $gap;
    width: 70px;
    height: 100vh;
    background-color: $bg-menu;
    // background-color: lighten($color: rgba(208, 240, 224, 0.514), $amount: 5);

    .sidebar-main {
        // width: 100%;
        // height: 100vh;
        // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: $bg-menu;

        .sidebar-title {
            color: $theme-color;
        }

        .button-title {
            background-color: transparent !important;
            text-transform: uppercase !important;
            color: $theme-color !important;
            font-weight: 700 !important;
            border: 0 !important;
            border-radius: 0 !important;
            letter-spacing: 1px !important;
            font-family: var(--logo-font);
        }

        .settings {
            background-color: $bg-menu;

            &::-webkit-scrollbar {
                -webkit-appearance: none;
            }

            &::-webkit-scrollbar:vertical {
                width: 8px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: lighten($color: $theme-color, $amount: 5);
                border-radius: $gap;
            }

            &::-webkit-scrollbar-track {
                background: #f1f1f1;
            }

            .accordion-item {
                .accordion-button {
                    padding: 0.75rem 0.75rem !important;
                }

                .accordion-header {
                    .accordion-button {
                        font-weight: bolder;
                        font-size: 1rem;
                        color: $theme-color;
                        text-transform: uppercase;

                        button {
                            text-align: start !important;
                        }
                    }
                }

                .accordion-collapse {
                    .accordion-body {
                        padding: 0 !important;

                        button {
                            background-color: transparent;
                            color: rgb(24, 109, 86);
                            border: none !important;
                            font-size: 1.1rem;
                            border-radius: 0 !important;
                            text-align: left !important;
                            padding-left: 1rem !important;
                        }

                        button:hover,
                        button:focus,
                        button:active {
                            background-color: $light-theme-color;
                        }
                    }
                }
            }
        }
    }

    .rtf {
        left: 0 !important;
        bottom: 50% !important;
        margin: 0 !important;
    }

    .sidebar-section {
        display: none;
        color: $light-theme-color;
    }

    i {
        color: $light-theme-color;
        font-size: 1.25em;
    }

    .accordion-button::after {
        display: none;
        color: $light-theme-color !important;
    }

    .accordion, .accordion-item, .accordion-button {
        background-color: $bg-menu;
    }

    .accordion-body {
        display: none;
        .sidebar-section {
            color: white !important;
        }

        button {
            i {
                color: white;
                padding-left: $gap;
            }
        }
    }

    &:hover {
        width: 100%;

        .sidebar-main {
            .button-title {
                // background-color: $light-theme-color !important;
            }
        }
        .sidebar-section {
            display: inline;
        }

        .accordion-button::after {
            display: inline;
        }

        .accordion-body {
            display: inline;
        }
    }
}