@import '_setting.scss';

.settings-account {
    margin-top: $navbar-height;

    
    .section-header {
        background-color: lighten($color: lightsalmon, $amount: 10);
        color: rgb(224, 71, 10);
        text-transform: uppercase;
        font-weight: bold;
        border-left: $gap solid orange;
        padding: $gap/2;
    }
    
    .basic-info {
        button {
            font-weight: bold;
            width: 100px;
        }

        .account-type {
            margin-bottom: 0.4rem;
            padding: $gap/2;
            overflow-y: auto;
            border: 1px dashed  gray;
            border-radius: $gap;
            background-color: lighten($light-theme-color, 15);
        }
    }
    .detail-info-section {
        .form-label {
            font-weight: bold;
        }

        .form-control {
            // margin-right: $gap !important;
            width: 98%;
        }
    
        @media screen and (max-width: 768px){
            padding: 0px !important;
        }
    }
}