@import '_setting.scss';

$answer-button-width: 50%;
$answer-background-color: #82dfb5;
$btn-check-size: 2rem;

.question-answers {
    width: 100%;
    display: grid;
    grid-template-columns: $answer-button-width $answer-button-width;
    grid-row: auto auto;

    .answer {
        height: 90%;
        display: flex;
        flex-direction: row;
        justify-content: left !important;
        text-align: left;
        background-color: $answer-background-color;
        margin: $gap;

        >* {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

        .answer-icon {
            background-color: #04AA6D;
            color: rgb(206, 226, 223);
            width: 10%;
            height: 100%;
            font-size: 2rem;
        }

        .answer-content {
            width: 80%;

            .textarea-enter {
                font-size: 14px;
                font-weight: bold;
                outline: none !important;
                box-shadow: none !important;
            }
        }

        .answer-checkbox {
            width: 10%;
            align-items: center;

            .lenght-limit {
                font-size: 12px;
                text-align: right;
                font-weight: normal;
                margin-top: 0;
                display: inline-block;
                color: rgb(0, 1, 78);
                width: 100%;
                padding-right: 5px;
            }
            
            .btn-checkbox {
                background-color: transparent;
                border: 0.25rem solid rgb(255, 255, 255);
                flex: 0 0 auto;
                width: $btn-check-size;
                height: $btn-check-size;
                margin-bottom: 45%;
                margin-top: 20%;
                padding: $gap;
                transform-origin: center bottom;
                box-shadow: transparent 0px 0px 0px 0.125rem;
                border-radius: 50%;
                cursor: pointer;
                appearance: none;
                -webkit-appearance: none;
            }

            .btn-checkbox:checked {
                background-image: url("https://img.icons8.com/fluency/24/000000/checkmark.png");
            }
        }
    }

    .answer-A {
        background-color: #C4E538;
    }

    .answer-B {
        background-color: #7be9a9cb;
    }

    .answer-C {
        background-color: #48dbfb;
    }

    .answer-D {
        background-color: #ffda79;
    }
}