@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600');
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One:wght@400;600');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');

$gap: 10px;
$quick-action-height: 5vh;
$panel-left-width: 16vw;
$panel-center-width: 86vw;
$box-shadow: rgba(0, 0, 0, 0.25) 0px -4px inset;
$bg-color: #ebecf0;
$app-bg-color: rgba(215, 233, 248, 0.575);

.remove-bootstrap-outline {

  textarea:focus,
  textarea.form-control:focus,
  input.form-control:focus,
  input[type=text]:focus,
  input[type=password]:focus,
  input[type=email]:focus,
  input[type=number]:focus,
  [type=text].form-control:focus,
  [type=password].form-control:focus,
  [type=email].form-control:focus,
  [type=tel].form-control:focus,
  [contenteditable].form-control:focus {
    box-shadow: none !important;
    //border: 1px solid #ccc;
  }

  .btn:focus,
  .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }
}

.align-items-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}