@import '_setting.scss';

body {
    margin: 0;
    font-family: 'Source Code Pro', sans-serif;
    font-size: 14px;
    line-height: 1.3em;
}

button {
    box-shadow: $box-shadow;
}

.app {
    height: 100vh;
    overflow: hidden;
    background-color: $app-bg-color;
    align-items: center;
    text-align: center;
}