.forgot-password {
    height: 100vh;
    
    .forgot {
        padding: 2%;
        margin-bottom: 10vh;
        font-family: var(--body-font);
        border: 1.5px solid var(--mint);
        height: 400px;
        width: 50%;
        height: fit-content;
        border-radius: 30px;

        @media screen and (max-width: 768px) {
            width: 75%;
            margin-top: 0px;

            .email__reset {
                input {
                    width: 100% !important;
                }
            }
        }
    
        .form__title {
            font-family: var(--logo-font);
            color: var(--mint);
            font-weight: 700;
        }
    
        .email__reset {
            align-items: center;
    
            input {
                border: 1px solid var(--mint);
                border-radius: 50px;
                margin: 3% auto;
                padding: 2% 4%;
                width: 60%;
                color: var(--mint);
    
                ::placeholder {
                    border: 1px solid var(--mint);
                }
            }
        }
    
        .btn__resetPassword {
            font-family: var(--logo-font);
            font-size: 1.15rem;
            font-weight: 700;
            background-color: var(--mint);
            border: 1px solid var(--mint);
            border-radius: 50px;
            color: var(--white);
            padding: 1% 4%;
    
            &:hover {
                background-color: var(--light-mint);
                color: var(--mint);
            }
        }
    }
}