@import '_setting.scss';

.dashboard {
    overflow-x: hidden;

    .sidebar-menu {
        z-index: 10000;
        position: fixed;

    }

    .main-container {
        padding: 0px !important;
        padding-left: 70px !important;
        margin-top: $navbar-height;

        .header {
            background-color: lighten($light-theme-color, 10);
            height: 6vh;
        }

        .current-action {
            text-transform: uppercase;
            color: $theme-color;
            font-weight: bolder;
        }

        .footer {
            height: 2.5*$gap;
            border-radius: 0px;
            border: 0px;
            text-align: center;
        }
    }
}