@import '_setting.scss';

.dashboard {
    margin-top: $navbar-height;
    height: calc(100vh - #{$navbar-height});

    .sidebar {
        max-width: 250px;
        width: 240px;
    }
    .main-container {
        width: 100%;

        .header {
            background-color: lighten($light-theme-color, 10);
            height: 6vh;
        }

        .current-action {
            text-transform: uppercase;
            color: $theme-color;
            font-weight: bolder;
        }

        .footer {
            height: 2.5*$gap;
            border-radius: 0px;
            border: 0px;
            text-align: center;
        }
    }
}