@import '_setting.scss';

.modal {
    .modal-content {
        .modal-header {
            text-align: center;
            text-transform: uppercase;
            font-weight: bolder;
        }
    }
}