@import '_setting.scss';

.payment-return {
    margin-top: $navbar-height;
    height: 90vh;

    h1 {
        font-family: var(--logo-font);
        color: var(--mint) !important;
        font-weight: var(--font-bold);
    }

    h3 {
        font-family: var(--logo-font);
        color: var(--mint) !important;
    }
}