@import '_setting.scss';




.container {
    .profile{
        margin: 80px auto 0;
    }
    
    font-family: var(--body-font);
    border: 1.5px solid var(--mint);
    height: fit-content;
    width: 100% !important;
    border-radius: 30px;
}