@import '_setting.scss';

$heading-height: 10vh;

.contest-management {
    margin: $navbar-height 1vw 0 1vw;

    .heading {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        padding: $gap;
        height: $heading-height;

        .heading-contest {
            font-weight: bolder;
            text-transform: uppercase;
            text-align: center;
            color: $theme-color;
        }

        .create-contest {
            align-items: flex-end;

            >* {
                text-transform: uppercase;
                font-weight: bold;
            }
        }

        .search-contest {
            input {
                box-shadow: none !important;
            }
        }
    }

    .list-contests {
        display: flex;
        flex-wrap: wrap;
        border: 2px dashed gray;
        border-radius: $gap;
        background-color: #f0e9d285;
        height: calc(100vh - #{$navbar-height} - #{$heading-height} - 2vh);
        overflow-y: auto;

        >* {
            margin: $gap;
        }

        .card {
            padding: $gap !important;
            width: 275px !important;
            height: 275px !important;
            border-radius: $gap;
            .card-body {
                padding: $gap 0 0 0 !important;
            }

            border: 2px solid $theme-color;
        }

        .embeded-media {
            background-color: lightgray;

            .embeded-img {
                height: 150px;
                width: fit-content;
                max-width: 100%;
                display: flex;
                align-items: center;
            }
        }

        .contest-action {
            >* {
                margin: 0 $gap/2;
                font-weight: bold;
                color: white;
                width: auto;
            }
        }
    }

    @media screen and (max-width: 768px){
        .heading {
            .btn-label {
                display: none;
            }
        }
    }
}