@import '_setting.scss';

.panel-left {
    background-color: $bg-color;
    width: $panel-left-width;

    .questions-preview-title {
        text-transform: uppercase;
        background-color: $theme-color;
        color: white;
        font-weight: bold;
        height: 5vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .questions-preview {
        height: 80vh;
        overflow-x: hidden;
        overflow-y: auto;

        &::-webkit-scrollbar {
            -webkit-appearance: none;
        }

        &::-webkit-scrollbar:vertical {
            width: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: lighten($color: $theme-color, $amount: 5);
            border-radius: $gap;
        }

        .card-ghost {
            transition: transform 0.18s ease;
            transform: rotateZ(2deg);
            font-weight: bold;
        }

        .card-ghost-drop {
            transition: transform 0.18s ease-in-out;
            transform: rotateZ(0deg);
        }

        .question-drop-preview {
            background-color: rgba(150, 150, 200, 0.1);
            border: 2px dashed #17c0eb;
            margin: 5px;
        }

        .not-found {
            background-color: #ffcccc;
            border: 2px dashed #ea8685;
            margin: 5px;
            height: 10vh;
        }
    }

    .question-actions {
        padding-left: $gap;
        padding-right: $gap*2;
        padding-top: $gap;
        display: flex;
        > * {
            width: 50%;
            margin: 0 3px;
            font-weight: bold;
        }
    }
}