@import '_setting.scss';

.test-info {
    display: flex;
    flex-direction: row;

    >* {
        margin: 0 $gap;
    }

    .label {
        font-weight: bold;
        margin: 3px 0;
    }

    .body-left {
        width: 18vw;
        .datetime-picker {
            .datetime {
                display: flex;
                flex-direction: row;
            }
        }

        input, textarea {
            background-color: transparent !important;
            &:focus {
                outline: none !important;
                box-shadow: none !important;
            }
        }
    }

    .body-right {
        width: 82vw;

        .row {
            margin: $gap;
        }
    }
}