@import "~bootstrap/scss/bootstrap";
@import '_setting.scss';

$question-content-background: rgba(228, 241, 241, 0.877);
$question-box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
$question-number-width: 3rem;

.question {
    width: 96%;
    height: 20vh;
    background-color: $question-content-background;
    box-shadow: $box-shadow;
    z-index: 1;
    margin-left: $gap * 2;
    margin-right: $gap * 2;
    margin-top: $gap;
    border-radius: $gap;
    line-height: 1.5rem;
    display: flex;
    flex-direction: row;

    >* {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .question-number {
        height: 40px;
        margin: 5px;
        border-radius: $gap;
        min-width: $question-number-width;
        padding: 0 $gap/2;
        background-color: rgba(241, 157, 157, 0.884);
        color: white;
        box-shadow: $box-shadow;
    }

    .question-content {
        width: 100%;
        margin-right: $question-number-width;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .question-content-input {
            display: table-cell !important;
            vertical-align: middle !important;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            background-color: transparent;
            border: none;
            overflow-y: hidden;
            resize: none;
        }
    }
}

.question-embed {
    height: 42vh;
    width: 100%;
    z-index: 1;

    img {
        height: 95%;
        margin: $gap;
    }
}

.question-embed-edit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 20;
    position: relative;
    bottom: 0px;
    left: 0px;

    > * {
        border-radius: $gap/2;
        margin: 0 $gap/2;
    }

    button {
        box-shadow: none;
        align-items: center;
        width: 75px;
        height: 34px;
        padding: 0px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        border: none;
        background-color: transparent;
        color: white;
    }

    .question-embed-change {
        background-color: #feca57;
    }

    .question-embed-remove {
        background-color: #ff6b6b;
    }
}