@import '_setting.scss';

.take-test {
    padding: $gap;
    background-color: $bg-color;
    font-size: 0px;

    .row>* {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .section-title {
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        margin: $gap/2 0;
    }

    .webcam {
        background-color: rgba(217, 233, 207, 0.548);
        border-radius: $gap;
        height: 20vh;
        padding: $gap/2;
        margin: $gap 0;
        border: 2px solid $theme-color;

        &::-webkit-scrollbar {
            -webkit-appearance: none;
        }

        &::-webkit-scrollbar:vertical {
            width: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: lighten($color: $theme-color, $amount: 5);
            border-radius: $gap;
        }

        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
    }

    .question-picker {
        background-color: rgba(217, 233, 207, 0.548);
        border-radius: $gap;
        height: 40vh;
        padding: $gap/2;
        border: 2px solid $theme-color;

        &::-webkit-scrollbar {
            -webkit-appearance: none;
        }

        &::-webkit-scrollbar:vertical {
            width: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: lighten($color: $theme-color, $amount: 5);
            border-radius: $gap;
        }

        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        .btn-question {
            overflow-y: auto;
            height: 90%;
            overflow-x: hidden;

            &::-webkit-scrollbar {
                -webkit-appearance: none;
            }

            &::-webkit-scrollbar:vertical {
                width: 8px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: lighten($color: $theme-color, $amount: 5);
                border-radius: $gap;
            }

            &::-webkit-scrollbar-track {
                background: #f1f1f1;
            }

            button {
                margin: $gap/2;
                min-width: 40px;
                border: 1px solid $theme-color;
            }
        }
    }

    .time-remain {
        border: 2px solid $theme-color;
        border-radius: $gap;
        margin: $gap 0;

        .time-remain-title {
            text-align: center;
            font-weight: bold;
            font-size: 16px;
            margin: $gap/2 0;
        }

        .time-remain-show {
            height: 50px;

            .time-countdown {
                background-color: transparent !important;
                border-color: transparent !important;
                outline: none !important;
                font-size: 26px;
            }

            .timeout {
                font-size: 20px;
            }

            >* {
                color: red;
                font-weight: bold;
                text-align: center;
                margin-bottom: $gap;
            }
        }
    }

    .submit-test {
        button {
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    .floating-buttons {
        visibility: hidden;
    }

    @media screen and (max-width: 992px) {
        padding: 0px;

        .question-picker {
            left: 15vw;
            bottom: 0px;
            z-index: 1000;
            position: fixed;
            height: $question-picker-height;
            width: 85vw;
            padding-right: 160px;
            border-radius: 0px;

            .title {
                display: none;
            }

            .btn-question {
                display: flex;
                align-items: center;
                justify-content: center;
                overflow-x: auto !important;
                overflow-y: hidden !important;
                height: 100%;
                z-index: 1000;

                &::-webkit-scrollbar:horizontal {
                    height: $gap/2;
                }
            }
        }

        .webcam {
            margin-bottom: $question-picker-height*1.25 !important;
        }

        .time-remain {
            left: 0px;
            bottom: 0px;
            z-index: 1000;
            position: fixed;
            height: $question-picker-height;
            width: 15vw;
            min-width: 80px;
            margin: 0;
            padding: $gap/2;
            border: none;
            border-radius: 0px;
            background-color: rgba(223, 39, 39, 0.26);

            .time-remain-title {
                display: none;
            }

            .time-remain-show {
                height: 100%;
                justify-content: center;

                .time-countdown {
                    font-size: 20px;
                    margin: 0px;
                }
            }
        }

        .submit-test {
            display: none;
        }

        .floating-buttons {
            visibility: visible;
        }
    }
}