@import '_setting.scss';

$question-item-preview-content-background: #9cdbe0bb;

.question-item-preview {
    box-shadow: $box-shadow;
    margin: $gap;

    .question-item-preview-number {
        background-color: goldenrod;
        color: white;
        font-weight: bold;
    }

    .question-item-preview-content {
        background-color: $question-item-preview-content-background;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 6vw;
    }
}