@import "~bootstrap/scss/bootstrap";
@import '_setting.scss';

$question-content-background: white;
$question-box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;

.panel-center {
    padding: 0 $gap;
    
    >* {
        font-weight: bold;
    }

    .question {
        height: 14vh;
        background-color: $question-content-background;
        box-shadow: $box-shadow;
        z-index: 1;
        padding: $gap $gap*2 0 $gap*2;
        border-radius: $gap;
        border: 2px solid $border-color;
        line-height: 1.2rem;
        display: flex;
        flex-direction: row;

        .lenght-limit {
            color: gray;
            padding-right: $gap;
            padding-top: $gap;
            width: 50px;
            font-size: 14px;
            font-weight: normal;
            vertical-align: middle;
        }

        .question-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-left: $gap*3;

            .textarea-enter {
                font-size: 18px;
                font-weight: bold;
                box-shadow: none !important;
                outline: none !important;
            }
        }
    }

    .question-user {
        height: 14vh;
        width: 96%;
        margin: 1% 2%;
        background-color: $question-content-background;
        box-shadow: $box-shadow;
        border-radius: $gap;
        border: 2px solid $border-color;
        line-height: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .embeded {
        margin: $gap;
        height: 45vh;
        color: $app-bg-color;
        font-size: 1px;

        .question-embed {
            img {
                height: 45vh;
                width: auto;
            }
        }

        button {
            width: 40px;
        }
    }

    .question-answers {
        height: 28vh;
        padding: 0 1vw 0 1vw;
    }

    .empty-answer {
        height: 100%;
        max-height: 28vh;

        .decor {
            height: 90%;
            width: 100%;
            border: 2px dashed $theme-color;
            border-radius: $gap;
            margin: $gap;
        }
    }

    @media screen and (max-width: 992px) {
        width: 100vw;
        
        .question-user {
            height: 10vh;
        }

        .embeded {
            height: 37vh;

            .question-embed {
                img {
                    height: 36vh;
                }
            }
        }
    }

    @media screen and (max-width: 576px){
        .question-answers {
            height: fit-content;
        }   
    }
}