@import "~bootstrap/scss/bootstrap";
@import '_setting.scss';

$question-content-background: white;
$question-box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;

.panel-center {
    width: $panel-center-width;

    >* {
        font-weight: bold;
    }

    .question {
        height: 12vh;
        background-color: $question-content-background;
        box-shadow: $box-shadow;
        z-index: 1;
        margin: $gap $gap * 2 0 $gap*2;
        border-radius: $gap;
        border: 2px solid $border-color;
        line-height: 1.2rem;
        display: flex;
        flex-direction: row;
    
        .lenght-limit {
            color: gray;
            padding-right: $gap;
            padding-top: $gap;
            width: 50px;
            font-size: 14px;
            font-weight: normal;
            vertical-align: middle;
        }
    
        .question-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-left: $gap*3;
    
            .textarea-enter {
                font-size: 18px;
                font-weight: bold;
                box-shadow: none !important;
                outline: none !important;
            }
        }
    }
    
    .embeded {
        margin: $gap;
        height: 47vh;
        color: $app-bg-color;
        font-size: 1px;

        .question-embed {
            img {
                height: 45vh;
                width: auto;
            }
        }

        button {
            width: 40px;
        }
    }
    
    .question-answers {
        height: 28vh;
    }
}