@import '_setting.scss';

.test-info {
    display: flex;
    flex-direction: column;

    .label {
        font-weight: bold;
        margin: 3px 0;
        text-align: center;
    }

    .duration {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 3*$gap;
    }

    input,
    textarea {
        background-color: transparent !important;

        &:focus {
            outline: none !important;
            box-shadow: none !important;
        }
    }

    .mdb-datatable .row {
        margin: $gap;
    }
}