@import '_setting.scss';

.register{
    align-items: center;
    margin: 10% auto 0;
    font-family: var(--body-font);
    border: 1.5px solid var(--mint);
    height: 400px;
    width: 920px;
    border-radius: 30px;
    display: block;
    &__right{
        margin-top: 20px;
    }
}
.form__title{
    text-align: center;
    padding-top: 60px;
    font-family: var(--logo-font);
    color: var(--mint);
    font-weight: 700;
}

.btn {
    &__signup{
        border-radius: 50px;
        border: 1px solid var(--mint);
        color: white;
        background-color: var(--mint);
        width: 250px;
        font-size: var(--h2-font-size);
        margin: 10px;
        &:hover{
            color:var(--mint);
            background-color: var(--light-mint);
        }
    }
    &__login{
        border-radius: 50px;
        border: 1px solid var(--mint);
        color: var(--mint);
        background-color: white;
        width: 150px;
        padding: auto;
        font-size: var(--h3-font-size);
        margin: 10px;
        &:hover{
            color: white;
            background-color: var(--mint);
        }
    }
}
.auth__pic {
    max-width: 350px;
    vertical-align: center;
    margin-top: -30px;
}
.signup__body{
    display: flex;
    justify-content: center;
    margin: -15px 10%;
}
.been-member{
    color:var(--gray)
}
div .signup__area{
    margin-top: 20px;
    display:block;
    .btn__signup{

        &-gg{
        margin-top: -10px;
        background: none;
        border: none;
    }}

    .btn__login{
        margin-top: -20px;
        padding: 5px;
    }
}
.input{
    margin-bottom: 0;
}