@import '_setting.scss';

.app-container {
    display: flex;
    margin-top: 1.1*$navbar-height;
    width: 100vw;

    .row {
        width: 100%;
        margin: 0px !important;

        > * {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
    
    .rtf--mb {
        height: 40px !important;
        width: 40px !important;
    }
    
    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: lighten($color: $theme-color, $amount: 5);
        border-radius: $gap;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
}