@import '_setting.scss';

.contest-participants {
    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: lighten($color: $theme-color, $amount: 5);
        border-radius: $gap;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .section-header {
        background-color: lighten($color: lightsalmon, $amount: 10);
        color: rgb(224, 71, 10);
        text-transform: uppercase;
        font-weight: bold;
        border-left: $gap solid orange;
        padding: $gap/2;
    }

    .overview {

        >* {
            margin: $gap;
        }

        .card {
            .card-header {
                font-weight: bolder;
            }

            .card-body {
                .card-title {
                    .number {
                        text-transform: uppercase;
                        font-weight: bolder;
                        color: $light-theme-color;
                    }
                }
            }
        }
    }
}