@import '_setting.scss';

$question-item-preview-content-background: #F3F0D7;

.question-item-preview {
    box-shadow: $box-shadow;
    margin: 0 $gap;
    margin-top: $gap;
    border: 2px solid white;
    border-radius: $gap;

    .question-item-preview-number {
        background-color: lighten($theme-color, 10);
        color: white;
        font-weight: bold;
        cursor: move;
        border-top-left-radius: $gap $gap;
        border-top-right-radius: $gap $gap;
    }

    .question-item-preview-content {
        background-color: $question-item-preview-content-background;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 5vw;
        cursor: pointer;
        border-bottom-left-radius: $gap $gap;
        border-bottom-right-radius: $gap $gap;
    }

    .question-selected {
        background-color: #2ccf869c !important;
        color: white;
        font-weight: bold;
    }
}