@import '_setting.scss';

$panel-contest-info-width: 300px;
$contest-title-height: 45px;
$title-list-tests-height: 60px;
$container-list-tests-height: calc(100vh - #{$navbar-height} - #{$contest-title-height} - #{$title-list-tests-height} - 30px);

.contest-information {
    margin-top: $navbar-height;
    height: calc(100vh - #{$navbar-height});
    
    .contest-title {
        display: flex;
        flex-direction: row;
        height: $contest-title-height;

        .heading {
            text-transform: uppercase;
            color: $theme-color;
            width: 100%;
            margin-top: $gap;
        }
    }

    .loading {
        height: calc(100vh - 3*#{$navbar-height});
    }

    .container-section {
        display: flex;
        flex-direction: row;

        .contest-show-info {
            width: $panel-contest-info-width;

            img {
                max-height: 38vh;
            }

            .card {
                margin: $gap;
                border-radius: $gap/2;
                height: calc(100vh - #{$navbar-height} - #{$contest-title-height} - 2.5*#{$gap});

                .card-img-top {
                    margin: $gap;
                    height: 30vh;
                    width: auto;
                    max-width: 100%;
                    display: flex;
                    align-items: center;
                }

                .card-body {
                    padding: 0 $gap $gap $gap;
                    .card-text {
                        margin-bottom: 0.4rem;
                        max-height: 12vh;
                        overflow-y: auto;
                    }

                    .list-group-flush {
                        .list-group-item {
                            padding: $gap 0 !important;
                            border: none !important;

                            input {
                                background-color: transparent !important;

                                &:focus {
                                    box-shadow: none !important;
                                }
                            }
                        }
                    }
                }
            }
        }

        .list-tests {
            width: 78vw;
            min-width: 420px;
            margin: $gap $gap $gap 0;
            border-radius: $gap/2;

            .create-test {
                display: flex;
                justify-content: center;
                align-items: center;

            }

            .card {
                width: 100%;

                .card-header {
                    border: none;
                    background-color: transparent;
                    height: $title-list-tests-height;
                }
                .card-body {
                    width: 100%;
                }

                hr {
                    margin: 0;
                    height: 2px;
                }
            }

            .show-all-tests {
                height: $container-list-tests-height;
                overflow-y: auto;

                &::-webkit-scrollbar {
                    -webkit-appearance: none;
                }
        
                &::-webkit-scrollbar:vertical {
                    width: 8px;
                }
        
                &::-webkit-scrollbar-thumb {
                    background-color: lighten($color: $theme-color, $amount: 5);
                    border-radius: $gap;
                }

                .card-body {
                    padding: $gap 1rem;
                }

                .card-test-preview {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    border: 1px solid $theme-color;
                    border-radius: $gap/2;
                    margin: 0 $gap;
                    padding-left: 0 !important;

                    .card-test-index {
                        background-color: #7af3d5;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .test-index {
                            font-weight: bolder;
                            font-size: 2.5rem;
                            color: rgb(228, 100, 50);
                        }
                    }

                    .card-test-info {
                        padding: $gap 0 $gap 0 !important;

                        .card-test-description {
                            font-style: italic;
                        }
                    }

                    .card-test-actions {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        button {
                            margin: $gap/4;
                            font-weight: bold;
                            //min-width: 90px;
                            color: white;
                        }
                    }
                }

                .no-test {
                    border: 2px dashed;
                    margin: $gap;
                    border-radius: $gap/2;
                    width: auto;
                    justify-content: center;
                }
            }
        }
    }
}