@import '_setting.scss';

.browse-modal {

    .top-modal {
        display: flex;
        flex-direction: row;

        >* {
            width: 48%;
            margin: 0 1%;
        }

        .search-area {
            .search {

                button {
                    margin: $gap 0;
                }
            }
        }

        .text-input {
            box-shadow: none !important;
            margin: $gap $gap $gap 0;
        }
    }

    .section-title {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    }

    .selected-photo {
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: $gap 0;
        img {
            height: 200px;
        }
    }

    .search-result {
        margin: 2vh;

        .list-result-images {
            width: 100%;
            display: table-cell;
            margin: $gap 0;
            text-align: center;
            vertical-align: middle;
        }

        .load-more {
            margin: $gap;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
        }
    }
}